@media screen and (max-width: 1000px) {
    .accountSection{
        display: none !important; 
    }
    .newsFeed{
        padding-right:20px;
    }
}


.bodyWrapper{
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    background-color: rgba(250,250,250,1);
    
}
.bodyContent{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 935px;
}

.newsFeed{
    width:612px;
    padding: 30px 30px 0px 20px;
}

.accountDetailsWrapper{
    padding-top:30px;
}

.accountSection{
    padding-top:22px;
    width:293px;
    margin-right: 18px;
}

.accountDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 17px;

}

.realName{
    color:rgba(142,142,142,1);
    font-weight: 400;
    padding-top:4px;
}



.accountNameWrapper{
    align-items: stretch;
    margin-left: 19px;
    width:100%;
}



.accountSwitchWrapper{
    width: 100%;
}

.switch{
    color:rgba(0,149,246,1);
    font-size: 11px;
    font-weight: 500;
}


.suggestionHeader{
    display:flex;
    justify-content: space-between;   
    padding-top: 8px;
    color:rgba(142,142,142,1);
    font-weight: 600;
}


.suggestionSingleList{
    padding-top: 13px;
    display: flex;
    align-items: center;

}

.accountDetail{
    font-size: 11px;
    padding-top:3px;
}

.accountFollow{
    color:rgba(0,149,246,1);
}





/* SinglePost Wrapper */

.postNav{
    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.singlePostWrapper{
    max-width: 100%;
    margin-top: 25px;
    border:1px solid #DBDBDB;
}
.postNavLeft{
    display: flex;
    align-items: center;
}
.profileImage{
    width:32px;
    border-radius: 20px;;
}
.profileLink{
    text-decoration: none;
    font-weight:600;
    font-size: 12px;
}
.profileLink:hover{
    text-decoration: underline;
}

.postUsername{
    cursor:pointer;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
}


.dotMenu{
    width:14px;
    cursor: pointer;
}

.postImage{
    max-width:100%;
}
.postBody{
    width: 100%;
    overflow: hidden;
}

.actionIcons{
    padding-left: 15px;
}


.commentsWrapper{
    text-decoration: none;
    font-weight:400;
    font-size: 13px;
    padding: 5px 10px 0px 10px;
}

.singleComment{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.postDetails{
    padding-top: 8px;
}

.commentStatus{
    padding-top: 6px;
    color:rgba(142,142,142,1);
}
.commentList{
    padding-top: 6px;
}

.time{
    text-transform: uppercase;
    color:rgba(142,142,142,1);
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.commentWrapper{
    display: flex;
    padding: 8px 15px 12px 15px;
    align-items: center;
}
.commentWrapper > *{
    flex:1 100%;
}
.commentInputWrapper{
    display: flex;
}
.smiley{
    flex:1 0 0;
}
.commentBox{
    padding-left: 15px;
}
.postButton{
    flex:1 0 0;
    cursor: pointer;
    color: #B7E1Fc;

}



.inputComment{
    border:0px;
    font-size: 14px;
    width:100%;
    background-color: transparent;
}

.inputComment:focus{
    outline: none;
}

.links{
    text-decoration: none;
    padding-left: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color:rgba(199,199,199,1);
    font-size:11px;
    font-weight: 400;
    line-height: 13px;
}

.helperLinks{
    max-width: 100%;
    padding-right: 10px;
    
}