
.editProfileWrapper{
    padding-top: 30px;
}


.editLeftDiv{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: white;
    max-width: 236px;
    border: 1px solid #dbdbdb;
    position: relative;
}

.editRightDiv{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: white;
    min-width: 696px;
    border: 1px solid #dbdbdb;
    border-left: 0px;
    
}

.editColumnOptions{
    font-family: inherit;
    padding:10px 14px 14px 30px;
    border:3px solid transparent;
}
.editColumnOptions:hover{
    cursor: pointer;
    background-color: rgba(250, 250, 250, 1);
    border-left:3px solid #dbdbdb; 
}
.active{
    border-left:3px solid rgba(38,38,38,1);
    font-weight: 600; 
}

.sameLine{
    width: 100%;
    display: flex;
    padding-bottom:15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}





.editWrapper{
    width: 100%;
    display: flex;
    min-width: 696px;
    border: 1px solid #dbdbdb;
    border-left: 0px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}



.submitButton{
        appearance: none;
        background-color: #0095f6;
        border:1px solid transparent;
        font-family: inherit;
        border-radius: 4px; 
        cursor:pointer;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color:white;
        padding:5px 26px;
    
}

.editOptionBodyWrapper{
    margin-top: 28px;
    width: 100%;
}

.editInput{
  min-width:355px;
  height:25px;
  padding-left:8px;
  border:1px solid #dbdbdb;
  border-radius:4px;
  font:inherit;
}


.changeProfile{
    align-items: center;
}

.submitButton{
    appearance: none;
    background-color: #0095f6;
    border:1px solid transparent;
    font-family: inherit;
    border-radius: 4px; 
    cursor:pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color:white;
    padding:5px 10px;
}

.disableLink{
    color:#0095f6;
    font-family: inherit;
    border:1px solid transparent;
    background-color: transparent;
    font-weight: 600;
}


.sameLineLeftLane{
    width:160px;
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    padding-right: 30px;
}

.editLeftDiv > *{
    font-family: inherit;
    padding:10px 14px 14px 30px;
    border:3px solid transparent;
    
}


.footerLinks > div > *  {
    text-decoration: none;
    color:#8e8e8e;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding:8px 0px;
}
.footerLinks{
    display: flex;
    justify-content: center;
}
.footerLinks>div{
    margin: 0px 8px;
}
.footerCopyRight{
    color:#8e8e8e;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin:8px 0px;

}



.passwordInput{
    min-width:450px;
    height:25px;
    padding-left:10px;
    border:1px solid #dbdbdb;
    border-radius:6px;
    font:inherit;
    font-size: 14px;
    background-color: rgba(250,250,250,1);
    height:40px;
    
}
.passwordInput:focus{
    outline: 0!important;
    box-shadow :0px 0px 0px 1px #a8a8a8;
    border-radius:6px;

}


.appsAndWebsiteWrapper{
    box-sizing: border-box;
    min-width:100%;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    position: relative;
    padding: 68px 60px;
    display: block;

}
.appandwebOptions{
    display: flex;
    font-size:16px;
    font-family: inherit;
    width:100%;
    

    
}

.appandwebHeading{
    font-family: inherit;
    font-size: 28px;
    color:rgba(38,38,38,1);
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 15px;
    background-color: white;
}

.appandwebOptionList{
    opacity: 0.5;
    font-weight: 600;
    width:33.33%;
    text-align: center;
    padding: 20px 0px 14px 0px;
    cursor: pointer;
    
}

.appsandWebsite-active{
    opacity: 1;
    border-bottom: 1px solid black;
}

.appandwebDescription{
    margin-top:32px;
    width: 580px;
}



.emailsHeading{
    font-size: 22px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color:rgba(38,38,38,1);
    padding-bottom:10px;
}
.subscribeOptions{
    margin:16px 0px 24px 0px;
}
.subscribeOptionsHeading{
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
}
.subscribeOptionsHeading> input[type='checkbox']{
    /* -webkit-appearance: none; */
    height:16px;
    width: 16px;
    border:1px solid rgba(142,142,142,1);
    border-radius: 3px;
    margin:0px;
    padding: 0px;
}

.subscribeOptionsDetails{
    color:rgba(142,142,142,1);
    font-weight: 400;
    font-size: 14px;
    padding-top: 4px;
}



.notificationOptionsWrapper{
    cursor:pointer;
    font-weight: 600;
    font-size: 14px;
    display:flex;
    align-items: center;
    line-height: 14px;

}

.optionDescription{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    margin:8px 0px 22px 0px;
    color:#8e8e8e
}

