.navWrapper{
    align-items: center;
    min-height:54px;
    width: 100%;
    border-bottom: 1px solid rgba(219,219,219,1);
    background-color: red;
    top:0;
    position: fixed;
    display: flex;
    justify-content: center;

}

.navContent{
    padding: 0 20px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 975px;
    width: 100%;
    background-color: green;
    
}


.navLogoWrapper{
    flex: 1 9999 0%;
    min-width: 40px;
    background-color: yellow;
}

.logoContainer{
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex: 0 0 auto;

}

.logoImage{
    max-height: 100%;
    max-width:100%;
    object-fit: contain;

}

.navSearchWrapper{
    height:28px;
    flex:0 1 auto;
    min-width: 125px;
    width:215px;
    background-color: blue;

}

.inputBox{
    border: 1px rgba(219,219,219,1);
    appearance: none;
    font-size: 16px;
    border-radius: 3px;
    color:rgba(38,38,38,1);
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
}