.profileContainer{
    margin-top: 53px;
    height: inherit;
    display: flex;
    justify-content: center;
    background-color: rgba(250,250,250,1);
}

.profilePicture{
    width: 150px;
    height:150px;
    border-radius: 75px;
}
.profileNameLine{
    display: flex;
    padding-top: 8px;

}


.mainProfileName{
 font-size: 24px;
 line-height: 32px;
 font-family: Montserrat;
font-weight: 300;
}


.topDiv{
    display: flex;
    padding: 30px 0px 44px 0px;

    flex-grow: 1;
}

.profileWrapper{
    width: 935px;
}

.profileDiv{
    width:300px;
    display: flex;
    justify-content: center;
}

.EditButton{
    background-color: none;
    cursor: pointer;
    background:transparent;
    border:1px solid #dbdbdb;
    border-radius: 4px;
    font-weight: 600;
    padding: 6px 9px;
    text-align: center;
    color:rgba(38,38,38,1);
    margin-left: 20px;
}

.settingIcon{
    padding:3px 10px;
}

.postDetails{
    
    padding-top:10px;
    font-family: Montserrat;
    font-size: 14px;
}

.profileDetails{
    margin-left: 20px;
}

.realName{
    font-family: Montserrat;
    font-size: 14px;
    color:rgb(0, 0, 0);
    word-wrap: break-word;
    font-weight: 400;
}

.headers{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#262626;
    font-weight:500;
}

.headersTag{
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-right: 60px;
    padding-top: 20px;
    padding: 15px 2px;
    margin-top: -1px;
    cursor: pointer;

}
.headersName{
    padding-left: 6px;
    letter-spacing: 1px;
}

.headerTopBorder{
    border-top: 1px solid black;
}

.bottomDiv{
    border-top: 1px solid #dbdbdb;
}

.headersTag:last-child {
    margin-right: 0px;
}

.profilePostWrapper{
    width: 100%;
    background-color: white;
    display: flex;
}

.storeLinks{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.rightPostDiv{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto 0;
}

.firstMessage, .secondMessage{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.secondMessage{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}


.igtvWrapper{
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom:50px;

}
.uploadButton{
    appearance: none;
    background-color: #0095f6;
    border:1px solid transparent;
    font-family: inherit;
    border-radius: 4px; 
    cursor:pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color:white;
    padding:5px 26px;
}


.newCollectionButton{
    color:#0095f6;
    font-family: inherit;
    border:1px solid transparent;
    background-color: transparent;
    font-weight: 600;

}

.savedWrapper{
    padding-top:30px;
}

.savedImageArea{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-top:10px;
}

.savedPictureWrapper{
    padding:0px 0px 28px 0px;
    width:293px;
    height:293px;
}


.settingOptionWrapper{
   display:flex;
   align-items: center;
}

.settingOption{
    justify-content: center;
    width: 400px;
    border-radius: 12px;
}


.singleSettingOption{
    background-color: white;
    min-height: 48px;
    line-height: 1.5;
    padding:4px 8px;
    font-size: 14px;
    border:0;
    cursor: pointer;
    width:100%;
    border-bottom: 1px solid #dbdbdb;
}

.settingOptionWrapper{
    /* style={{position:'absolute',top:0,left:0,zIndex:'2',backgroundColor:'rgba(0,0,0,0.65)',width:'100%' */
        position:absolute;
        top:0;
        left:0;
        z-index: 2;
        background-color: rgba(0,0,0,0.65);
        width:100%;
        height: inherit;
        display:flex;
        justify-content: center;
        

}