
.storyWrapper{
    border:  1px solid rgba(219,219,219,1);
    background-color: white;
    border-radius: 3px;
    min-width:612px;
    max-width: 612px;
    height:115px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
}
.storyPresentation{
    height:115px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index:1;
    
}

.singleStory{
    margin-left: 5px;
    margin-top: 4px;
    cursor:pointer;
    
}

.storyImageWrapper{
    border:2px solid #D12C85;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 56px;
    
}


.storyImageDiv{
    display: flex;
    justify-content: center;
    
}

.storyImage{
    border-radius: 56px;
    overflow: hidden;
    padding: 2px;
}

.storyUsername{
    margin-top: 5px;
    font-weight: 500;
    font-size: 10px;
    overflow: hidden;
    max-width: 100%;
}

.arrowWrapper{
    position:absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.leftArrowWrapper{
    width:45px;
    height:45px;
    background-image: url(/src/resources/sprite.png);
    background-repeat: no-repeat;
    background-position: -379px -128px;
    cursor: pointer;
    
}

.rightArrowWrapper{
    width:45px;
    height:45px;
    background-image: url(/src/resources/sprite.png);
    background-repeat: no-repeat;
    background-position: -244px -107px;
    cursor: pointer;
}

.leftArrowWrapperStory{
    width:30px;
    height:30px;
    background-image: url(/src/resources/sprite2.png);
    background-repeat: no-repeat;
    background-position: -130px -98px;
    cursor: pointer;
    
    
}


.rightArrowWrapperStory{
    width:30px;
    height:30px;
    background-image: url(/src/resources/sprite2.png);
    background-repeat: no-repeat;
    background-position: -162px -98px;
    cursor: pointer;
    
}

.rightArrowWrapperStory:hover,
.leftArrowWrapperStory:hover{
    opacity: 1;
}

.buttonDiv{
    cursor: pointer;
}

.storyWrapperOn{
    width: 100%;
    height: 100;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:2;
    background-color: #1a1a1a;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    padding:15px;
    box-sizing: border-box;

}
.exitStory{
    width:103px;
}

.storyInstaLogo{
    left:0;
}

.storyLogoImage{
    width:103px;
    max-height:100%;
    object-fit: contain;
}
.exitStoryButton{
    background-color: transparent;
    border:none;
    margin:8px 3px 0px 0px;
    float:right;
    
}

.storyPlayerDiv{
    height:278px;
    width:156px;
    padding:0px 20px;
}


.currentlyPlayed{
    height:100%;
    border-radius:0px;
    display:flex;
    align-items: center;
    position: relative;
}

.rightArrowWrapperStory{
    opacity:0.5;
}
.leftArrowWrapperStory{
    opacity:0.5;
}


.currentlyPlayed:hover .rightArrowWrapperStory{
    opacity:1
}
.currentlyPlayed:hover .leftArrowWrapperStory{
    opacity:1
}


.storyPlayerWrapper{
    height:100%;
    display:flex;
    align-items: center;

    
}

.storyPictureSize{
    max-width:100%;
    border-radius: 5px;
}
.storyPictureSizePlaying{
    height:100%;
    border-radius: none;
    max-width:400px; 
}



.replyStoryWrapper{
    position: absolute;
    bottom:0;
    align-items: center;
    display:flex;
    width:100%;
    box-sizing: border-box;
    padding:10px 10px 20px 20px;
}

.replyStoryMessageWrapper{
    width:100%;
}


.replyStoryMessage{
    outline:none;
    background:transparent;
    border:1px solid white;
    border-radius: 100vh;
    padding:12px 0px 12px 20px;
    font-size: 14px;
    line-height:18px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100%;
    box-sizing: border-box;
    
}

.replyStoryMessage::placeholder{
    color:white;
}


.replyStoryButton{
    background-color: transparent;
    border: 0;
    padding: 10px 10px 10px 10px;
    margin:0;
}