.storyWrapper{
    border:  1px solid rgba(219,219,219,1);
    background-color: white;
    border-radius: 3px;
    min-width:612px;
    max-width: 612px;
    height:115px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    
}
.storyPresentation{
    height:115px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index:1;
    
}

.singleStory{
    margin-left: 10px;
    margin-top: 4px;
    cursor:pointer;
    
}

.storyImageWrapper{
    border:2px solid #D12C85;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 56px;
    
}


.storyImageDiv{
    display: flex;
    justify-content: center;
    
}

.storyImage{
    border-radius: 56px;
    overflow: hidden;
    padding: 2px;
}

.storyUsername{
    margin-top: 5px;
    font-weight: 500;
    font-size: 10px;
    overflow: hidden;
    max-width: 100%;
}

.arrowWrapper{
    position:absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.leftArrowWrapper{
    width:45px;
    height:45px;
    background-image: url(/src/resources/sprite.png);
    background-repeat: no-repeat;
    background-position: -379px -128px;
    cursor: pointer;
    
}

.rightArrowWrapper{
    width:45px;
    height:45px;
    background-image: url(/src/resources/sprite.png);
    background-repeat: no-repeat;
    background-position: -244px -107px;
    cursor: pointer;
}

.buttonDiv{
    cursor: pointer;
}

.storyWrapperOn{
    width: 100%;
    height: 100;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:2;
    background-color: #1a1a1a;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    padding:15px;
    box-sizing: border-box;

}

.storyInstaLogo{
    left:0;
}

.storyLogoImage{
    max-width:103px;
    max-height:100%;
    object-fit: contain;
}
.exitStoryButton{
    background-color: transparent;
    border:none;
    margin:8px 3px 0px 0px;
    justify-content: center;
}

